{{> header }}

<body>
    
    {{> navbar }}
    <div class="container">
    <h2 > Weather App {{name}}</h2>
    <img alt="Fernando Gamba" src="assets/imgs/cataratas-2017-5.jpg" class="img-thumbnail">
    {{#if city}}
    <h3>Weather in {{city}}
        {{#if temp}}
        {{temp}}ºC
        {{/if}}
    </h3>
    {{/if}}

    <form class="form-inline my-2 my-lg-0" method="post" action="/" enctype="application/x-www-form-urlencoded">
      
      <select class="form-control mr-sm-2"  placeholder="Search" value="" name="city" aria-label="Search">
          <option value="">Select a city</option>
          <option value="Rosario">Rosario</option>
          <option value="Rafaela">Rafaela</option>
          <option value="Mendoza">Mendoza</option>
      </select>
        
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go!</button>
    </form>
    </div>
    {{> footer}}
</body>
</html>